/* h1:hover {
    background-color: pink;
  } */
  
  /* button:hover {
    color: white;
  }
  
  input:focus {
    background-color: teal;
  }
  
  button:focus {
    border-radius: 10px;
    background-color: #2ecc71;
  }
  
  button:active {
    background-color: orange;
    font-size: 30px;
  }
  
h1:active, p:active {
    color: yellow;
  }   
  
  a:active{
    color: purple;
  }
  


  #btn1:active {
    background: purple;
  }
  
  #btn2:hover {
    background: green;
  }
  
  #btn3:focus {
    background: orange;
  } */

  /*  */
/* 
body {
  background-color: #fcd04b;
  font-family: Lato;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 300;
}

  .btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
  }

  .btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
  }

  .btn:active {
    box-shadow: none;
    top: 6px;
  } */

/*  TRANSFORM*/
/* p { 
  width: 50px;
  height: 50px;
  background-color: #1abc9c;
}

p.move-right {
  background-color: #3498db;
  transform: translateX(100px);
}

p.move-down {
  background-color: #f1c40f;
  transform: translateY(20px);
}

p:hover {
  transform: translate(20px, 20px);
} */

/* p { 
  width: 50px;
  height: 50px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border: 2px solid #2c3e50;
}

.transformed {
  background-color: #3498db;
  transform: scale(2);
  transform-origin: 0 0;
  transform: rotate(36deg);
} */

/* Transitions */
